:root {
    --bg-color: #E0FBE2;
    --c-button-color: #e63946;
    --calc-bg-color: #ACE1AF;
    --button-bg-color: #BFF6C3;
    --button-hover-bg-color: #B0EBB4;
    --font-color: #000000;
    --secondary-font-color: #010101b0;
    --button-color: #000000;

}

body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* transition: all 0.05s; */
}

.C {
    color: var(--c-button-color);
}

#calculator {
    background-color: var(--calc-bg-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 25%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    /* justify-content: flex-end; */
    padding: 15px 10px 15px 10px;
    /* margin-top: 20%; */
    max-width: fit-content;
}

#buttons {
    display: flex;
    gap: 10px;

}

.column {
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-grow: 1;
}

button {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--button-color);

    background-color: var(--button-bg-color);
    border-radius: 5px;
    border-style: none;
    height: 7vh;
    width: 4vw;
    min-width: 40px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px, rgba(0, 0, 0, 0.06) 0px 1px 2px;
}



button:hover {
    scale: 0.98;
    background-color: var(--button-hover-bg-color);
}

button:active {
    scale: 0.95;
    background-color: var(--button-hover-bg-color);
    filter: brightness(95%);
}

#display {
    text-align: end;
    font-weight: 400;
}

p.equation {
    font-size: 10px;
    color: var(--secondary-font-color);
    margin-bottom: -5px;
}

p.secondary {
    font-size: 10px;
    color: var(--secondary-font-color);
    text-align: start;
    font-weight: 300;
    margin-bottom: -10px;
}

#sum {
    flex-grow: 1;
}

#top-bar {
    font-size: 12px;
    font-weight: 300;
}

div#top-bar > p {
    margin-top: 0px;
    color: var(--font-color)
}

p.current {
    font-size: 36px;
    color: var(--font-color);
    margin: 0px 0px 5px 0px;
}

div#display {
    height: 54px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.info-text {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

div.info-text > ul {
    margin-top: 5px;
}

div#info > h1 {
    text-align: center;
    margin-bottom: 0px;
    display: flex;
    color: var(--font-color);
}

div#info > h1 > img {
    margin-left: 10px;
}

div#info {
    /* margin-top: -20%; */
    margin-left: 5%;
    /* align-self: flex; */
    /* justify-self: flex-start; */
    display: flex;
    flex-direction: column;
}

button > img {
    margin: auto;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    display: flex;
    margin-top: 8px;
}

footer {
    position:absolute;
    bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#git {
    transition: transform 0.3s ease-in-out;
}

#git:hover {
    transform: rotate(360deg) scale(2);
}


@media (max-width: 800px) {
    div#info {
        display: none;
    }

    button {
        width: 8vh;
        height: 8vh;
    }

    button > img {
        height: 3vh;
        width: 3vh;
        margin: 0 auto;
    }
}

/* dark mode switch */
.switch {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 10px;
    --button-width: 2em;
    --button-height: 1em;
    --toggle-diameter: 0.7em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #cccccc;
    --color-green: #4296f4;
   }
   
   .slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
   }
   
   .slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
   }
   
   .switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-green);
   }
   
   .switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
   }
   
   .switch input[type="checkbox"] {
    display: none;
   }
   
   .switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
   }
   
   .switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
   }
   